<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home LayoutB</title>
</head>
<body>

    <partial name="_menu" />

    @RenderBody()

    <footer>
        Rodapé - LayoutB
    </footer>

</body>
</html>
