@model IEnumerable<Fiap01.ViewComponents.Noticia>
@{
}
<ul>
    @foreach (var item in Model)
    {
        <li style="background-color:red">
            @item.Id: @item.Titulo
        </li>
    }
</ul>